openai==1.3.8
moviepy==1.0.3
tensorflow==2.13.0
numpy==1.23.5
ffmpeg-python
whisper
ml_dtypes==0.2.0
deepface==0.0.94
pydub
pyAudioAnalysis
opencv-python
fpdf
streamlit
matplotlib
blinker
plotly
httpx>=0.24
